* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block {
  padding-top: 120px;
  padding-bottom: 120px;
}

.light-background {
  background-color: #fff7f4;
}
.container {
  max-width: 1178px;
  margin: 0 auto;
  padding: 0 15px;
}
.nav__item {
  margin: 0 15px;
  color: #373737;
  text-decoration: none;
}
.nav__item:last-child {
  padding: 10px 16px;
  border-radius: 6px;
  border: 1px solid #373737;
}
.block-main_cols {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block-main_left {
  width: 55%;
}
.block-main_right {
  width: 45;
}
.block-main_right_img {
  width: 100%;
}
.block-main_left_h1 {
  width: 602px;
  color: var(--Black, #373737);
  font-size: 48.83px;
  font-style: normal;
  font-weight: 700;
  line-height: 73.2px; /* 149.908% */
  margin-bottom: 18px;
}
.block-main_left_p {
  width: 586px;
  height: 76px;
  flex-shrink: 0;
  color: var(--Paragraph, #7b7b7b);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 30px;
}
.block-main_left_button {
  display: flex;
  padding: 10px 22px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 5px;
  background: var(--Orange, #ff5300);

  color: var(--Whit, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  border: none;
}
.block__top {
  margin-bottom: 10px;
  text-align: center;
}
.block__help-txt {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 24px;
  color: #f35500;
}
.block__title {
  font-size: 32px;
  line-height: 46px;
}
.block__subtitle {
  color: var(--Black, #373737);
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 37.5px; /* 150% */
}
.block--wwd__cols {
  display: flex;
  flex-wrap: wrap;
}
.block--wwd__items {
  width: 33.33%;
  padding: 15px;
}
.block--wwd__content {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}
.block--wwd__items .block--wwd__content:before {
  width: 83px;
  height: 74px;
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 64px;
  line-height: 73px;
  font-weight: 600;
  color: #efefef;
  text-align: right;
}
.block--wwd__items:first-child .block--wwd__content:before {
  content: "01";
}
.block--wwd__items:nth-child(2) .block--wwd__content:before {
  content: "02";
}
.block--wwd__items:nth-child(3) .block--wwd__content:before {
  content: "03";
}

.block--wwd__items:nth-child(4) .block--wwd__content:before {
  content: "04";
}

.block--wwd__items:nth-child(5) .block--wwd__content:before {
  content: "05";
}

.block--wwd__items:nth-child(6) .block--wwd__content:before {
  content: "06";
}
.block--wwd {
  padding-top: 120px;
  padding-bottom: 120px;
}
.block--wwd__items__type {
  font-size: 12px;
  line-height: 19px;
  font-weight: 300;
}

.block--wwd__picture {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.block--wwd__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.block__text {
  width: 326px;
  height: 77px;
  flex-shrink: 0;
  color: var(--Paragraph, #7b7b7b);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
}

.div-with-icons-text {
  display: flex;
  margin-top: 0px;
}
.text-main-left {
  color: var(--Black, #373737);
  font-size: 39.063px;
  font-style: normal;
  font-weight: 600;
  line-height: 58.59px; /* 149.99% */
  margin-bottom: 20px;
}
.block-main_left_p1 {
  width: 586px;
  height: 76px;
  flex-shrink: 0;
  color: var(--Paragraph, #7b7b7b);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0px;
}
.icon {
  display: flex;
  margin: 15px;
  margin-left: 0px;
  margin-right: 0px;
}
.jj {
  color: var(--Black, #373737);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 15px;
}

/* .navbar {
  margin-top: 30px;
  padding: 10px;
} */

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list a:hover {
  background-color: #555;
  color: white;
}

#list1 {
  margin-left: 185px;
  margin-right: 88px;
  width: 126px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--Orange, #ff5300);
  margin-top: -20px;
}

.grid-container {
  display: flex;
  margin-top: 15px;
  flex-direction: column;
  align-items: center;
}

.grid-row {
  display: flex;
}

.grid-item {
  position: relative;
  width: 390px;
  height: 313px;
  margin: 0px;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  content: "";
  position: absolute;
  width: 266px;
  height: 230px;
  flex-shrink: 0;
  background: rgba(255, 83, 0, 0.75);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay svg {
  width: 50px;
  height: 50px;
  fill: white;
  margin-bottom: 10px;
}

.overlay-text {
  color: var(--Whit, #fff);
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 37.5px; /* 150% */
  text-align: center;
}

.grid-item:hover .overlay {
  opacity: 1;
}





/* sliderCss */

.block--testimonials__rating {
  margin-bottom: 10px;
}
.swiper-testimonial {
  display: flex;
}
.swiper-testimonial__person {
  position: relative;
  margin-top: 25px;
  display: flex;
  align-items: center;
}
.swiper-wrapper {
  display: flex; /*Add this line*/
}
.swiper-testimonial__person:before {
  content: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48.5425 16.6974C51.1175 19.4324 52.5 22.4999 52.5 27.4724C52.5 36.2224 46.3575 44.0649 37.425 47.9424L35.1925 44.4974C43.53 39.9874 45.16 34.1349 45.81 30.4449C44.4675 31.1399 42.71 31.3824 40.9875 31.2224C36.4775 30.8049 32.9225 27.1024 32.9225 22.4999C32.9225 20.1792 33.8444 17.9536 35.4853 16.3127C37.1263 14.6717 39.3519 13.7499 41.6725 13.7499C44.355 13.7499 46.92 14.9749 48.5425 16.6974ZM23.5425 16.6974C26.1175 19.4324 27.5 22.4999 27.5 27.4724C27.5 36.2224 21.3575 44.0649 12.425 47.9424L10.1925 44.4974C18.53 39.9874 20.16 34.1349 20.81 30.4449C19.4675 31.1399 17.71 31.3824 15.9875 31.2224C11.4775 30.8049 7.9225 27.1024 7.9225 22.4999C7.9225 20.1792 8.84437 17.9536 10.4853 16.3127C12.1263 14.6717 14.3519 13.7499 16.6725 13.7499C19.355 13.7499 21.92 14.9749 23.5425 16.6974Z' fill='%23BCC1C7'/%3E%3C/svg%3E%0A");
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 60px;
  z-index: -1;
  opacity: 0.5;
}

.swiper-testimonial__name {
  color: #f35500;
}

.swiper-testimonial__position {
  font-size: 13px;
  line-height: 19px;
  font-weight: 300;
  color: #7b7b7b;
}

.swiper-testimonial__picture {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.swiper-testimonial__img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.block--testimonials__slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  padding: 25px;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 20px;
}

.block--testimonials__top {
  margin-bottom: 40px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='25' cy='25' r='24.5' transform='rotate(-180 25 25)' stroke='%23FF5300'/%3E%3Cpath d='M23.5349 25.0001L29.7224 31.1876L27.9549 32.9551L19.9999 25.0001L27.9549 17.0451L29.7224 18.8126L23.5349 25.0001Z' fill='%23FF5300'/%3E%3C/svg%3E%0A");
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='25' cy='25' r='24.5' stroke='%23FF5300'/%3E%3Cpath d='M26.4651 24.9999L20.2776 18.8124L22.0451 17.0449L30.0001 24.9999L22.0451 32.9549L20.2776 31.1874L26.4651 24.9999Z' fill='%23FF5300'/%3E%3C/svg%3E%0A");
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.swiper-button-next.swiper-button-disabled::after {
  content: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='25' cy='25' r='24.5' stroke='%23373737'/%3E%3Cpath d='M26.4651 24.9999L20.2776 18.8124L22.0451 17.0449L30.0001 24.9999L22.0451 32.9549L20.2776 31.1874L26.4651 24.9999Z' fill='%23373737'/%3E%3C/svg%3E%0A");
}

.swiper-button-prev.swiper-button-disabled::after {
  content: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='25' cy='25' r='24.5' transform='rotate(-180 25 25)' stroke='%23373737'/%3E%3Cpath d='M23.5349 25.0001L29.7224 31.1876L27.9549 32.9551L19.9999 25.0001L27.9549 17.0451L29.7224 18.8126L23.5349 25.0001Z' fill='%23373737'/%3E%3C/svg%3E%0A");
}

.block--testimonials__swiper {
  display: flex;
  justify-content: space-between;
}

.swiper-button-next {
  right: -64px;
}

.swiper-button-prev {
  left: -64px;
}

.block--capabilities__left {
  width: 55%;
}

.block--capabilities__subtile {
  margin-bottom: 5px;
  color: #f35500;
}

.block--capabilities__desc {
  font-size: 13px;
  line-height: 19px;
  font-weight: 300;
  color: #373737;
}

.block--capabilities__li {
  width: 25%;
  padding: 0 12px;
}

.block--capabilities__item {
  height: 100%;
  padding: 15px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

.block--capabilities__ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 -12px;
  margin-top: 40px;
}

.block--capabilities--content {
  display: flex;
  align-items: center;
}

.block--capabilities__picture {
  display: inline-block;
  width: 45%;
  padding-left: 10px;
}

.block--capabilities__img {
  width: 100%;
}

.block--ci {
  margin: 0 15px;
}

.block--ci__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 70px 0;
  border-radius: 10px;
  background-color: #f35500;
}

.block--ci__item {
  position: relative;
  width: 25%;
  text-align: center;
  color: #fff;
}

.boxx {
  display: flex;
}

.boxx1 {
  width: 125px;
  height: 108px;
  flex-shrink: 0;

  border-radius: 5px;
  background: var(--Whit, #fff);

  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  margin-right: 24px;
  text-align: center;
}
.h7box {
  color: var(--Orange, #ff5300);
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 37.5px; /* 150% */
}
.h4box {
  color: var(--Black, #373737);
  text-align: center;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 300;
  line-height: 19.2px; /* 150% */
}
.imgframe21 {
  margin-top: -260px;
  display: flex;
  width: 611.399px;
  height: 374.73px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.divicona {
  width: 1171px;
  height: 273px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--Orange, #ff5300);
  margin-top: 100px;
  display: flex;
}
.texticons {
  color: var(--Whit, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
}
.text2icons {
  color: var(--Whit, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  text-align: center;
}
.div1 {
  margin-top: 69px;
}

.div2 {
  margin-top: 69px;
}
.div3 {
  margin-top: 69px;
}
.div4 {
  margin-top: 69px;
}
.line {
  width: 3px;
  height: 134px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--Whit, #fff);
  margin-top: 70px;
}
#line1 {
  margin-left: 100px;
}
#line2 {
  margin-left: 100px;
}
#line3 {
  margin-left: 98px;
}
.iconat11 {
  margin-left: 90px;
}
.texticons1 {
  margin-left: 85px;
  color: var(--Whit, #fff);
  font-size: 39.063px;
  font-style: normal;
  font-weight: 600;
  line-height: 58.59px; /* 149.99% */
  margin-top: 4px;
}
.text2icons1 {
  margin-left: 60px;
  color: var(--Whit, #fff);

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  margin-top: 0px;
  white-space: nowrap;
}
.iconat22 {
  margin-left: 110px;
}
.texticons2 {
  margin-left: 104px;
  color: var(--Whit, #fff);
  font-size: 39.063px;
  font-style: normal;
  font-weight: 600;
  line-height: 58.59px; /* 149.99% */
  margin-top: 4px;
}
.text2icons2 {
  margin-left: 89px;
  color: var(--Whit, #fff);

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  margin-top: 0px;
  white-space: nowrap;
}
.iconat33 {
  margin-left: 120px;
}
.texticons3 {
  margin-left: 123px;
  color: var(--Whit, #fff);
  font-size: 39.063px;
  font-style: normal;
  font-weight: 600;
  line-height: 58.59px; /* 149.99% */
  margin-top: 4px;
}
.text2icons3 {
  margin-left: 91px;
  color: var(--Whit, #fff);

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  margin-top: 0px;
  white-space: nowrap;
}
.iconat44 {
  margin-left: 139px;
}
.texticons4 {
  margin-left: 132px;
  color: var(--Whit, #fff);
  font-size: 39.063px;
  font-style: normal;
  font-weight: 600;
  line-height: 58.59px; /* 149.99% */
  margin-top: 4px;
}
.text2icons4 {
  margin-left: 91px;
  color: var(--Whit, #fff);

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  margin-top: 0px;
  white-space: nowrap;
}
.htitle {
  color: var(--Orange, #ff5300);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.divwithtitle {
  text-align: center;
}
.divwith1box {
  width: 370px;
  height: 544px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--Whit, #fff);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);

  margin-top: 60px;
}
.divfortitle {
  color: var(--Orange, #ff5300);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: -30px;
  margin-bottom: 0px;
}
.divforline {
  width: 40px;
  height: 1px;
  background: #ff5300;
  margin-top: 140px;
  margin-left: 638px;
}
.divforline2 {
  width: 40px;
  height: 1px;
  background: #ff5300;
  margin-top: -12px;
  margin-left: 765px;
}
.classforh2 {
  color: var(--Black, #373737);
  font-size: 39.063px;
  font-style: normal;
  font-weight: 600;
  line-height: 58.59px; /* 149.99% */
}
.divwith2box {
  width: 370px;
  height: 544px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--Whit, #fff);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  margin-left: 30px;
  margin-top: 60px;
}
.divwith3box {
  width: 370px;
  height: 544px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--Whit, #fff);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  margin-left: 30px;
  margin-top: 60px;
}
.divwithallboxes {
  display: flex;
}
.iconat333 {
  width: 340px;
  height: 225px;
  flex-shrink: 0;
  border-radius: 10px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  margin: 15px;
  margin-bottom: 0px;
}
.h5class {
  width: 340px;
  color: var(--Black, #373737);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 0px;
}
.iconacandtext {
  display: flex;
}
.iconacandtext1 {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  margin-top: 18px;
  margin-left: 15px;
  margin-bottom: 0px;
}
.iconacandtext2 {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  margin-bottom: 0px;
}

.iconacandtext3 {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  margin-bottom: 0px;
}
.textaticonas1 {
  color: var(--Black, #373737);
  font-family: "Work Sans";
  font-size: 10.24px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px; /* 187.5% */
  margin-top: 15px;
  margin-bottom: 0px;
}
.textaticonas2 {
  color: var(--Black, #373737);
  text-align: center;
  font-family: "Work Sans";
  font-size: 10.24px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px; /* 187.5% */
  margin-top: 15px;
  margin-bottom: 0px;
}
.h6atboxes {
  width: 338px;
  height: 71px;
  flex-shrink: 0;
  color: var(--Paragraph, #7b7b7b);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: 21px;
  margin-left: 15px;
  margin-bottom: 0px;
}
.buttonatthreeboxes {
  width: 150px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--Orange, #ff5300);
  color: var(--White, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.6%; /* 24.72px */
  margin-top: 25px;
  margin-left: 25px;
  border: none; /* Remove border */
  box-shadow: 0px 2px 2px rgba(255, 83, 0, 0.3); /* Add orange shadow */
}
.themaindiv {
  width: 1440px;
  height: 320px;
  background: #fff;
  padding-top: 120px;
  padding-bottom: -120px;
}
.thesecondmaindiv {
  width: 1170px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--Orange, #ff5300);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  display: flex;
}
.h6subscribe {
  color: var(--Whit, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: 51px;
  margin-left: 40px;
  margin-bottom: 0px;
}
.h2letsstay {
  color: var(--Whit, #fff);
  font-size: 39.063px;
  font-style: normal;
  font-weight: 600;
  line-height: 58.59px;
  margin-top: 15px;
  margin-left: 40px;
  margin-bottom: 0px;
}
.lineatsubscribe {
  width: 40px;
  height: 1px;
  background: #fff;
  margin-top: -10px;
  margin-left: 210px;
}
.boxatemail {
  width: 642px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--Whit, #fff);
  margin-top: 65px;
  margin-left: 93px;
  display: flex;
}
.emailtext {
  color: var(--Paragraph, #7b7b7b);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-left: 25px;
  margin-top: 23px;
}
.buttonatsubscribe {
  margin-left: 260px;
  width: 222px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--Orange, #ff5300);
  margin-top: 5px;
  color: var(--Whit, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  border: none;
}
.footer {
  flex-shrink: 0;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.95) 0%,
      rgba(0, 0, 0, 0.95) 100%
    ),
    url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.foorfooterdivs {
  display: flex;
}
.logofooter {
  width: 174px;
  height: 45px;
  margin-top: 57px;
}

.textatimgfooter {
  margin-top: 20.2px;
  width: 270px;
  height: 75px;
  flex-shrink: 0;
  color: var(--Whit, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.footertitle1 {
  color: var(--Orange, #ff5300);
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 37.5px; /* 150% */
  margin-top: 66px;
  margin-bottom: 0px;
  margin-left: 30px;
}
.footertitle2 {
  color: var(--Orange, #ff5300);
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 37.5px; /* 150% */
  /* margin-left: 35px; */
  margin-top: 66px;
  margin-bottom: 0px;
}
.footertitle3 {
  color: var(--Orange, #ff5300);
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 37.5px; /* 150% */
  /* margin-left: 150px; */
  margin-top: 66px;
  margin-left: 94px;
  white-space: nowrap;
}
.textatfooter1 {
  width: 265px;
  color: var(--Whit, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  margin-top: 20px;
  margin-left: 30px;
}
.footernumber {
  color: var(--Whit, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  margin-top: 20px;
  margin-bottom: 0px;
  /* margin-left: 35px; */
}
.footeremail {
  color: var(--Whit, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  margin-top: 10px;
  /* margin-left: 35px; */
}
/* .cf {
 margin-left: -120px; 
  margin-top: 135px;
}
.fblogo {
  margin-left: -42px; 
  margin-bottom: 13px;
}
.cf2 {
   margin-left: 30px; 
}
.instalogo {
   margin-left: -42px; 
  margin-bottom: 13px;
}
.cf3 {
  margin-left: 30px;
}
.skypelogo {
  margin-bottom: 13px;
   margin-left: -24px; 
}
.cf4 {
  margin-left: 10px;
}
.twitterlogo {
  margin-bottom: 13px;
 margin-left: -24px; 
} 
 .divfortheline {
  margin-left: 130px;
} */
.footericonas {
  display: flex;
  margin-top: 135px;
  justify-content: space-between;
  margin-left: -110px;
}
.logoOnCircle--Footer {
  margin-left: -35px;
  margin-right: 40px;
  margin-top: 15px;
}
.lineinthefooter {
  width: 1170px;
  height: 1px;
  background: #fff;
}
.textunderline {
  color: var(--Whit, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150.6%;
  margin-left: 18px;
}
.divwithtextunderline {
  display: flex;
  white-space: nowrap;
  margin-top: 20px;
}
.orange1 {
  margin-left: 100px;
}
.textatorange1 {
  color: var(--Whit, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: -25px;
  margin-left: 128px;
}
.orange2 {
  margin-left: 38px;
}
.textatorange2 {
  color: var(--Whit, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: -25px;
  margin-left: 65px;
}
.lastcirle {
  margin-left: 300px;
  margin-top: -20px;
}
.lastsh {
  margin-left: -47px;
  margin-bottom: 10px;
}
